.chat-container {
  width: 100%;
}
.chat-items {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.chat-header {
  min-height: 88px;
  background-color: #ececf1;
  padding: 16px 24px;
}
.chat-view {
  flex-grow: 3;
  height: 80vh;
  background-image: url("../../icons/whatsapp-background.jpg");
  padding: 40px 24px;
  overflow: scroll;
}
.chat-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 88px;
  background-color: #ececf1;
  padding: 16px 24px;
}

.chat-header-name {
  font-size: 18px;
  line-height: 155.5%;
}

.chat-input {
  max-height: 48px;
  width: 40.55%;
  overflow: auto;
  word-wrap: break-word;
  background: #ffffff;
  border-radius: 24px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 171%;
}

.chat-input:focus {
  outline: none;
}
