.container {
  width: 100%;
}
.section {
  display: flex;
  flex-direction: row;
}
.row_leftbar {
  max-height: 100vh;
}

.row_main-chat {
  width: 100%;
  background-color: #fafafa;
}

.leftbar-container {
  min-width: 360px;
  max-height: 100vh;
  overflow: auto;
}
.lefbar-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 24px 0;
  overflow: scroll;
}
.leftbar-item {
}
.search-input {
  margin: 0 0 24px 0;
  justify-content: center;
  align-items: center;
}
.search {
  border: 1px solid #d1e4e8;
  border-radius: 24px;
  padding: 12px 16px;
  min-width: 312px;
  height: 48px;
}

.search:focus {
  outline: none;
}

.leftbar-data {
  display: flex;
  flex-direction: column;
}

.api-input {
  border: 1px solid #d1e4e8;
  border-radius: 24px;
  padding: 12px 16px;
  min-width: 312px;
  height: 48px;
  margin: 0 0 24px 0;
}

.api-input:focus {
  outline: none;
}

.mainpage-background {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../../icons/whatsapp-background.jpg");
}
