.container {
  width: 100%;
}
.section {
  display: flex;
  flex-direction: row;
}
.row_leftbar {
  max-height: 100vh;
}

.row_leftbar:nth-of-type(1) {
  width: 19%;
}
.row_leftbar:nth-of-type(2) {
  width: 81%;
}
.leftbar-container {
  /* width: 100%; */
  max-height: 100vh;
  /* overflow: auto; */
}
.lefbar-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5.46% 0 6.55% 0;

  overflow-y: scroll;
}
.leftbar-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-input {
  margin: 0 0 24px 0;
  justify-content: center;
  align-items: center;
  width: 85.5%;
}
.search {
  border: 1px solid #d1e4e8;
  border-radius: 24px;
  padding: 12px 16px;
  width: 100%;
  height: 48px;
}

.search:focus {
  outline: none;
}

.leftbar-data {
  display: flex;
  flex-direction: column;
}

.api-input {
  border: 1px solid #d1e4e8;
  border-radius: 24px;
  padding: 12px 16px;
  width: 85.5%;
  height: 48px;
  margin: 0 0 24px 0;
}

.api-input:focus {
  outline: none;
}

.mainpage-background {
  min-height: 100vh;
  min-width: 81vw;
  background-image: url("../../icons/whatsapp-background.jpg");
}
